.container {
    width: 1000px;
    margin: auto;
  }
  header {
    background-color: orange;
  }
  nav {
    background-color: gainsboro;
  }
  .wrapper {
    width: 600px;
    float:left;
  }
  main {
    background-color: yellow;
    height: 50px;
  }
  section {
    background-color: gold;
    height: 50px;
  }
  aside {
    width: 400px;
    float: left;
    background-color: cyan;
    height: 100px;
  }
  footer {
    clear: both;
    background-color: gainsboro;
  }